* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171717;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  margin: auto;
  text-align: center;
}

#Menu {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 10px;
}

#Menu button {
  border: none;
  border-radius: 3px;
  background-color: #4c517a;
  padding: 10px 15px;
  width: 150px;
  /*transition: .5s ease-in-out;*/
}

#Menu button:hover {
  background-color: #cccccc;
}
